.actions-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  & .actions-menu--btn {
    --border-radius: 8px;
    --padding: 16px;
    --color: var(--black);

    aspect-ratio: 1 / 1;
    background-color: var(--primary);
    border: 1px solid var(--color);
    border-radius: var(--border-radius);
    color: var(--color);
    cursor: pointer;
    padding: var(--padding);
    transition: all 200ms ease-in;

    display: grid;
    place-content: center;

    &:hover:not(:disabled), &:focus {
      transform: scale(1.1);
    }

    &.round-circle {
      --border-radius: 100%;
      --padding: 8px;
    }
  }
}